body {
  margin: 0;
  padding: 0;
  background-color: rgb(9, 223, 238) !important;
  font-family: "Courier New", Courier, monospace;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav:hover {
  background-color: #151817;
}
.center {
  margin-left: 400px;
  margin-top: 100px;
  width: 50%;
  /* border: 3px solid green; */
  padding: 10px;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #151817;
  color: white;
}
.parent {
  margin: auto;
  width: 60%;
  /* border: 3px solid #73ad21; */
  padding: 130px;
}
#puthere {
  color: black;
}
#output {
  color: black;
}
.btn {
  /* margin-right: auto; */
  left: 50%;
  top: 70%;
}
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
